<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron text-center">
                <h1 class="display-4">Order Successful</h1>
                <p class="lead">Your order has been placed successfully.</p>
                <hr class="my-4">
                <p>Click the button below to return to the homepage.</p>
                <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index" role="button">Ok</a>
            </div>
        </div>
    </div>
</div>