@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AudioStore.Models.Category

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="CategoryID" hidden />
    <input asp-for="ImageUrl" hidden />
    <div class="border col-offset-3 col-6">
        <div class="row pb-2 col-offset-3 col-6">
            <h2 class="text-primary">@(Model.CategoryID != 0 ? "Update " : "Create ")Category</h2>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 col-6">
            <label asp-for="SuperCategoryID"></label>
            <select asp-for="SuperCategoryID" class="form-select" id="SuperCategoryDropdown">
                <option disabled selected>Select Super Category</option>
                <!-- Supercategories will be loaded here -->
            </select>
            <span asp-validation-for="SuperCategoryID" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" asp-for="ImageUrl" class="form-control" />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" style="width:150px">@(Model.CategoryID != 0 ? "Edit" : "Create")</button>

            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.ImageUrl" class="img-fluid" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/categoryDropdown.js"></script>
}