<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Manufacturer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Manufacturer" asp-action="Upsert" class="btn btn-primary">Create Manufacturer</a>
        </div>
    </div>


    <table id="tblData" class="table">
        <thead>
            <tr>
                <th>Manufacturer Name</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        console.log("success");
        toastr.success('@TempData["success"]');


    </script>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        console.log("ERROR");
        toastr.error('@TempData["error"]');

    </script>
}
@section Scripts {
    <script src="~/js/manufacturer.js"></script>
}